/* color scheme
    - primary: #003c7d
    - secondary: #051747
    - titles: #faed26
    - text: #ffffff
*/
h1 {
  background-color: #051747;
  color: #faed26;
}
h2 {
  background-color: #051747;
  color: #faed26;
  text-align:center;
  text-transform:uppercase;
}
h3 {
  color:white;
}
h4 {
  color:white;
}
h5 {
  color:white;
}
h6 {
  color:white;
}
body {
  font-family:Trebuchet MS;
  background-blend-mode: lighten;
  background-color: #003c7d;
}
hr {
  border-color: #051747;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding:5px;
  background-color: orange;
}
th {
  text-align: center;
}
tr:nth-child(even) {
  background-color: #eee;
}
tr:nth-child(odd) {
  background-color:#ffffff;
}
pre {
  font-family:Trebuchet MS;
  color:white;
  font-size:16px;
}
a:link {
  color:#faed26;
}
a:visited {
  color:#faed26;
}
a:active {
  color:#faed26;
}
a:hover {
  color:#faed26;
}
ul{
  list-style-type:circle;
  color:white;
}
ol{
  color:white;
}
iframe {
  display:inline-block;
  border:1px #003c7d;
}
p {
  color:white;
  padding:10px
}
img {
  padding:10px;
}
address {
  color:white;
}
blockquote {
  color:white;
}
button:hover{
  text-decoration:underline;
}
.story {
  border-style:solid;
  border-width: 5px 40px 5px 5px;
  border-color:#051747;
  border-left-color:tomato;
  background-color: #051747;
}
#tbc {
  display:inline-block;
  height:250px;
}
.ec {
  background-color:light gray;
  border-radius: 18px;
  border:10px;
  padding:10px;
  float:right;
  font-weight:bold;
  cursor:pointer;
  transition-duration: 0.4s
}
.ec:hover {
  background-color: yellow;
}
.article-title {
  color: #faed26;
  font-weight: bold;
}
.link-title {
  font-weight: bold;
}
.link-title:link {
  color: #faed26;
}
.link-title:visited {
  color: #faed26;
}
.link-title:active {
  color: #faed26;
}
.link-title:hover {
  color: #faed26;
}
.cool-content {
  display:inline-block;
  /*box model*/
  border:solid;
  padding:10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left:25%;
}
#stats_button {
  display:block;
  margin-left:10px;
  width:80px;
  height:30px;
}
